@import "styles/variables";

  .content {
      margin-top: 100px;

      @media (max-width: $tablet) {
        margin-top: 50px;
      }
    }

.block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;

  @media (max-width: $desktop) {
    gap: 18px;
  }
}

.card {
  position: relative;
  overflow: hidden;
  z-index: 1;
  flex: 0 0 31.6%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 50px 50px 40px;
  border-radius: 50px;
  min-height: 530px;
  text-align: left;

  @media (max-width: $tablet) {
    border-radius: 20px;
  }

  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 50px;
    background-image: linear-gradient(
      360deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.06) 48.44%,
      rgba(0, 0, 0, 0.5) 100%
    );

    @media (max-width: $tablet) {
      border-radius: 20px;
    }
  }

  &:hover .img {
    transform: scale(1.2);

    @media (max-width: $tablet) {
      transform: none;
    }
  }

  @media (max-width: $desktop) {
    flex: 0 0 49%;
  }

  @media (max-width: $tablet) {
    flex: 0 0 48%;
    padding: 24px 24px 20px;
    border-radius: 20px;
    min-height: 318px;
  }

  @media (max-width: $mobile) {
    flex: 0 0 100%;
  }

  &:hover .link {
    background-color: $green400;

    @media (max-width: $tablet) {
      background-color: transparent;
    }
  }

  &:active .link {
    background-color: $orange200;

    @media (max-width: $tablet) {
      background-color: transparent;
    }
  }
}

.img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  border-radius: 50px;
  transition: transform 0.3s ease-in-out;

  @media (max-width: $tablet) {
    border-radius: 20px;
  }
}

.group {
  position: relative;
  z-index: 1;
}

.title {
  color: $white;
}

.text {
  margin-top: 16px;
  color: $white;
}

.link {
  position: relative;
  z-index: 1;
  margin-top: auto;
  padding: 6px 60px 6px 20px;
  margin-left: -20px;
  border-radius: 50px;
  width: fit-content;
  color: $white;
  transition: background-color 0.3s ease;

  &::before {
    content: url(/img/svg/arrow-white.svg);
    position: absolute;
    right: 20px;
    display: block;
    width: 22px;
    height: 26px;

    @media (max-width: $tablet) {
      top: 8px;
    }
  }
}
