@import "styles/variables";

.root {
  max-width: 1270px;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
  position: relative;

  @media (max-width: $desktop) {
    max-width: 1022px;
    padding-left: 52px;
    padding-right: 52px;
  }

  @media (max-width: $tablet) {
    max-width: 728px;
    padding-left: 20px;
    padding-right: 20px;
  }

   @media (max-width: $mobile) {
    max-width: 360px;
  }
}
